.App {
  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c6d9f1;
    padding: 0px 30px;
    h1 {
      color: #9437ff;
      font-size: 60px;
      font-weight: 800;
    }
    img {
      width: 100px;
      height: 100px;
    }
  }
  .mainHeading {
    text-align: center;
  }

  .formWrapper {
    background-image: url("./assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #ddd9c3;
    padding: 0px 30px;

    h2 {
      margin-bottom: 20px;
    }

    .checkboxList {
      display: flex;
      flex-direction: column;
      label {
        display: flex;
        input {
          width: 18px;
          height: 18px;
          margin-right: 5px;
        }
      }
    }
  }

  .paymentForm {
    .StripeElement {
      line-height: 60;
      font-size: 16px;
      color: #525f7f;
      background-color: white;
      border: 1px solid #d2d2d2;
      margin: 10px 0 20px 0;
      padding: 18px 14px;
      font-family: "Source Code Pro", monospace;
      outline: 0;
    }

    .StripeElement--invalid {
      border: 1px solid red !important;
    }

    .bankDetails {
      width: 50%;
      h2 {
        margin-top: 20px;
      }
      .dateWp {
        display: flex;
        gap: 20px;
        label {
          width: 50%;
        }
      }
      .formButton {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button {
          button {
            cursor: pointer;
          }
          &:disabled {
            cursor: not-allowed;
          }
        }
      }
    }
  }

  .confirmationWrapper {
    text-align: center;
    margin-top: 40px;

    .selectedSoftware {
      p {
        color: #cf5905;
      }
    }
  }
}

.formContent {
  background-color: #ddd9c3;
  padding: 60px 40px;
}
